body {
  background-color: #cecece;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  /*  background-image: url(/assets/img/fundo.jpg); */ /* fundo da tela */
  /* background-repeat: no-repeat; */ /* a imagem não se repete */
  /* background-position: center center; */ /* centraliza a imagem, dá pra usar % */
  /* background-size: cover; */ /* ocupa a tela toda , cobre a tela */
  /* background-attachment: fixed; */ /* mantém a imagem fixa na hora de rolar a tela */
}

.container {
  width: 900px;
  margin: 0 auto;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.foto {
  width: 200px;
  border: 2px solid black; /* isto é um shorthand 'atalho que simplifica o código */
  /* border-color: black;
  border-width: 5px;
  border-style: solid; */
  border-radius: 50%;
  margin: 30px 30px 0 30px; /* shorthand */
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: -1px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 40px;
}

h2 {
  margin-top: 0;
  font-style: italic;
  color: rgb(32, 32, 32);
  font-weight: 100;
  letter-spacing: -1px;
}

h4 {
  margin-bottom: 5px;
}

h5 {
  margin-top: 0;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 100px;
}

p {
  line-height: 25px;
  margin-top: 0;
}

.social-links {
  text-decoration: none;
}

.social-icons {
  width: 20px;
}

.github {
  margin: 0 15px 0 15px;
}

.jobs-list {
  list-style: none;
  padding-left: 20px;
}

.footer {
  background-color: black;
  margin-top: 50px;
  color: white;
  text-align: center;
  padding: 10px 0;
}
